body {
    background: #f6f6ef;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    display: inline;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px 0;
    line-height: 60px;
}

header {
    padding: 15px 15px 0 15px;
    background: #99ffff;
    color: black;
}

header h1 {
    margin: 0;
    padding: 14px 30px 10px;
    background: #FFF999;
    border-radius: 10px;
}

header nav {
    background: #FFF999;
}

header nav a .brand-logo {
    color: black;
}

nav ul {
    margin: 0;
    display: inline;
    padding: 0 0 0 15px;
}

nav ul li {
    display: inline-block;
    color: black;
    padding: 5px 10px;
}

nav ul li a {
    color: black;
    font-size: 15pt;
    text-transform: uppercase;
}

.border {
    border: #eacb7c;
}

.container .center {
    border: 5px solid #42a5f5;
    background: #42a5f5;
    text-align: center;
}

.margins {
    width: 800px;
}

#background {
    font-size: 16pt;
}

img {
    margin-right: 80px;
}

.card-panel {
    width: 80%;
}





